@import url(../all-main.scss);


.header {
    height: 80px;
    background: rgba(42, 42, 42, 0.90);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .link-main a {
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 16px;
        font-family: Arial;
        font-weight: 400;
        line-height: 24px;
        word-wrap: break-word;

    }

    .link-main {
        display: flex;
        align-items: center;
        gap: 38px;
    }

    .location {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .link {
        display: flex;
        align-items: center;
        gap: 16px;
    }


    .profile {
        display: flex;
        align-items: center;
        gap: 8px;

        p {
            width: 120.58px;
            height: 24px;
            color: white;
            font-size: 14.88px;
            font-family: Arial;
            font-weight: 400;
            line-height: 24px;
            word-wrap: break-word;
        }
    }
}

.aside-movies {
    display: flex;
    gap: 40px;
}


.aside {
    width: 260px;
    height: 344px;
    display: flex;
    flex-direction: column;
    gap: 54px;


    .genre {
        width: 260px;
        height: 40px;
        border-radius: 8px;
        padding-left: 16px;
        padding-right: 16px;

        padding: 10px;
        background: url('../images/strelka.svg') no-repeat right 10px center;
        appearance: none;

        background-size: 10px;
        background-color: #F2F2F2;

        outline: none;

    }

    .genre-text,
    .genre,
    .year-text,
    .select-year {

        color: black;
        font-size: 15px;
        font-family: Graphik Kinopoisk LC Web;
        font-weight: 400;
        line-height: 18px;
        word-wrap: break-word;

    }


    .genre-select {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }


    //Фильтр ГОД


    .filter-year {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    .select-year {
        width: 260px;
        height: 40px;
        border-radius: 8px;
        padding-left: 16px;
        padding-right: 16px;


        padding: 10px;
        background: url('../images/strelka.svg') no-repeat right 10px center;
        appearance: none;

        background-size: 10px;
        background-color: #F2F2F2;

        outline: none;
    }

}

.movies-item {
    padding-top: 48px;
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;

    .image-cont {
        width: 72px;
        height: 108px;
        overflow: hidden;

        .poster-image {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }


    .movie-poster-info {
        display: flex;
        gap: 20px;
        align-items: start;
        justify-content: space-between;


        position: relative;
        display: flex;
        box-sizing: border-box;
        width: 100%;
        padding: 24px 20px;
        border-radius: 16px;
        transition-timing-function: ease-out;
        transition-duration: .15s;
        transition-property: background-color;
    }

    .movie-poster-info:hover {
        background-color: #f7f7f7;
    }


    .all-content {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 48px;
    }

    .movie-info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .movie-title {
            width: 100%;
            height: 21.60px;
            color: black;
            font-size: 18px;
            font-family: Graphik Kinopoisk LC Web;
            font-weight: 400;
            line-height: 22px;
            word-wrap: break-word;
        }
    }

}

.btn-buy {


    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 119px;
    height: 24px;

    background: linear-gradient(167deg, #FF5500 70%, #D6BB00 100%);
    border-radius: 52px;

    gap: 4px;

    color: white;
    font-size: 10.66px;
    font-family: Graphik Kinopoisk LC Web;
    font-weight: 700;
    line-height: 14px;
    word-wrap: break-word;
    gap: 4px;
}


.btn-buy:hover,
.movie-watch:hover {
    transform: scale(1.05);
    transition: all 0.2s ease;

}




.movie-watch {
    border: none;
    width: 145.45px;
    height: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 15.80px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 100px;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    display: inline-flex;
}

.movie-poster-item {
    display: flex;
    gap: 20px;
    align-items: start;

}

.title-movie-item {
    width: 100%;
    height: 48px;
    color: #222222;
    font-size: 37.19px;
    font-family: Tahoma;
    font-weight: 700;
    line-height: 48px;
    word-wrap: break-word;
}

.title-movie-item2 {
    width: 625.89px;
    height: 41px;
    color: black;
    font-size: 16px;
    font-family: Tahoma;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.my-tickets {
    width: 130.58px;
    height: 32px;
    border: none;
    // background: rgba(0, 0, 0, 0.05);
    border-radius: 52px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    display: flex;


}
.my-tickets {

    color: black;
    font-size: 12.39px;
    font-family: Tahoma;
    font-weight: 700;
    line-height: 16px;
    word-wrap: break-word;
}

.img-my-ticket{
    color: #ac0000;
}
.img-buy-ticket{
    color: rgb(0, 0, 0);
}


.title-all{
    display: flex;
    justify-content: space-between;
}